In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import folium
import googlemaps

In [37]:
## 엘셀파일 열기

file = pd.read_excel("200303_인천_마스크 공적 판매처 현황(변환용_1).xlsx", header = None,
                     names = ["변환전"], sheet_name = "ref-약국", encoding = "utf-8")

In [38]:
# 파일 확인

file["변환전"].head(15)

0     인천 중구 축항대로86번길 38, 2층 (항동7가)
1              인천 중구 제물량로 131 (답동)
2             인천 중구 연안부두로 9 (항동7가)
3            인천 중구 샛골로9번길 37 (도원동)
4               인천 중구 우현로 86 (인현동)
5         인천 중구 참외전로72번길 22-7 (전동)
6           인천 중구 홍예문로98번길 7 (인현동)
7              인천 중구 제물량로 121 (답동)
8        인천 중구 연안부두로33번길 36 (항동7가)
9         인천 중구 서해대로494번길 2-1 (유동)
10            인천 중구 큰우물로 22-1 (용동)
11              인천 중구 우현로 41 (신포동)
12           인천 중구 연안부두로 88 (항동7가)
13             인천 중구 서해대로 476 (유동)
14        인천 중구 축항대로86번길 38 (항동7가)
Name: 변환전, dtype: object

In [4]:
# 파일 타입 변환

file["변환전"] = file["변환전"].astype(str)
print(file["변환전"].dtypes)

object

In [5]:
# 주소에 "계양구"가 들어가는 행만 추출하여 저장

file_GY = file[file["변환전"].str.contains("계양구")]
file_GY

                                       변환전
707                인천 계양구 양지로 40, 1층 (동양동)
708  인천 계양구 계양문화로 96, 강북프라자 112~113호 (용종동)
709  인천 계양구 계양문화로 19, 우성프라자 104~107호 (작전동)
710               인천 계양구 장제로 910, 1층 (병방동)
711              인천 계양구 주부토로 463, 1층 (작전동)
..                                     ...
813                  인천 계양구 봉오대로 649 (작전동)
814                인천 계양구 하느재로20번길 1 (계산동)
815                   인천 계양구 안남로 571 (효성동)
816               인천 계양구 계산로126번길 24 (작전동)
817                   인천 계양구 장제로 911 (병방동)

[111 rows x 1 columns]

In [6]:
# 계양구 약국 주소 엑셀 추출

file_GY.to_excel("계양구_약국_주소.xlsx")

In [7]:
# 도로명 주소만 추출

file_GY["도로명주소"] = file_1["변환전"].str.split("(", expand = True)[0]
print(file_GY.shape)

(111, 2)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
# 도로명주소 리스트 생성

list_place = list(file_1["도로명주소"])
list_place[0]

'인천 계양구 양지로 40, 1층 '

In [11]:
# googlemaps API 활용하여 도로명 주소를 "위도", "경도" 주소로 추출
# 반복분 활용하여 각각 리스트로 생성

gmaps = googlemaps.Client(key='Your API Key')

geocode_result_1 = []
geocode_result_2 = []

for place in list_place:
    g = gmaps.geocode(place)
    
    lat = g[0]["geometry"]["location"]["lat"]
    lng = g[0]["geometry"]["location"]["lng"]
    
    lat_str = str(lat)
    lng_str = str(lng)
    
    geocode_result_1.append(lat_str)
    geocode_result_2.append(lng_str)

In [12]:
# 위도 확인
geocode_result_1

['37.5620769',
 '37.5391975',
 '37.5323967',
 '37.5475973',
 '37.5355244',
 '37.5296937',
 '37.5285282',
 '37.5313501',
 '37.5415654',
 '37.5480202',
 '37.5281402',
 '37.527772',
 '37.5278979',
 '37.5346514',
 '37.5275468',
 '37.5296733',
 '37.53203999999999',
 '37.5323967',
 '37.5326213',
 '37.53211659999999',
 '37.5589739',
 '37.5274098',
 '37.5324106',
 '37.5804454',
 '37.5282212',
 '37.53089810000001',
 '37.5276237',
 '37.5281222',
 '37.5437129',
 '37.53650349999999',
 '37.543818',
 '37.5405984',
 '37.5448134',
 '37.5494101',
 '37.5319049',
 '37.5318576',
 '37.5313149',
 '37.5327867',
 '37.5429641',
 '37.563972',
 '37.53095649999999',
 '37.5406983',
 '37.535553',
 '37.527677',
 '37.5318029',
 '37.5372275',
 '37.5327524',
 '37.5466686',
 '37.5460756',
 '37.5476029',
 '37.5277895',
 '37.5254815',
 '37.5398418',
 '37.5287037',
 '37.5427986',
 '37.5792374',
 '37.5423238',
 '37.5418967',
 '37.5430898',
 '37.53944389999999',
 '37.5427397',
 '37.5589987',
 '37.5385258',
 '37.5276936',
 '37.5318029',
 '37.5338182',
 '37.527681',
 '37.5451996',
 '37.543795',
 '37.544007',
 '37.5381183',
 '37.5338182',
 '37.529724',
 '37.5309965',
 '37.5274098',
 '37.5477116',
 '37.532353',
 '37.5322825',
 '37.5367311',
 '37.5261357',
 '37.5311505',
 '37.5318029',
 '37.52761599999999',
 '37.53694400000001',
 '37.5358092',
 '37.5438559',
 '37.5434801',
 '37.539777',
 '37.5287054',
 '37.5319049',
 '37.5288606',
 '37.5273755',
 '37.5274381',
 '37.5476265',
 '37.5379957',
 '37.5260624',
 '37.5307088',
 '37.5415818',
 '37.5317645',
 '37.532361',
 '37.5354835',
 '37.5430554',
 '37.54407130000001',
 '37.5557943',
 '37.5427647',
 '37.5336098',
 '37.5307208',
 '37.5454053',
 '37.5340805',
 '37.535197',
 '37.5478101']

In [13]:
#경도 확인
geocode_result_2

['126.755438',
 '126.7372175',
 '126.735962',
 '126.7411429',
 '126.727765',
 '126.7284128',
 '126.722106',
 '126.7221812',
 '126.7323356',
 '126.7414277',
 '126.7169877',
 '126.7337977',
 '126.7107117',
 '126.7221837',
 '126.73011',
 '126.7229305',
 '126.737655',
 '126.735962',
 '126.7359831',
 '126.7358909',
 '126.7561336',
 '126.7381776',
 '126.7107483',
 '126.7337708',
 '126.7336781',
 '126.7377953',
 '126.7171334',
 '126.7219727',
 '126.7242617',
 '126.7347759',
 '126.729911',
 '126.7222859',
 '126.7379579',
 '126.7416488',
 '126.7110523',
 '126.710105',
 '126.7342232',
 '126.7225264',
 '126.7287645',
 '126.7515388',
 '126.7342496',
 '126.7360097',
 '126.7382361',
 '126.7228005',
 '126.7342806',
 '126.7221929',
 '126.7342634',
 '126.7424316',
 '126.7371082',
 '126.7404853',
 '126.7301376',
 '126.7131981',
 '126.7232334',
 '126.7113925',
 '126.728042',
 '126.7341471',
 '126.7230338',
 '126.7281206',
 '126.725216',
 '126.7362366',
 '126.7332866',
 '126.7564377',
 '126.7360758',
 '126.7253423',
 '126.7342806',
 '126.7414979',
 '126.7016885',
 '126.7383451',
 '126.7227711',
 '126.7374532',
 '126.7384962',
 '126.7414979',
 '126.7009822',
 '126.736884',
 '126.7381776',
 '126.741219',
 '126.7228542',
 '126.7393582',
 '126.7277864',
 '126.7212508',
 '126.7378114',
 '126.7342806',
 '126.7115459',
 '126.7277273',
 '126.7277703',
 '126.7234049',
 '126.7309148',
 '126.7352932',
 '126.7220849',
 '126.7110523',
 '126.7382787',
 '126.7388468',
 '126.7160561',
 '126.7371273',
 '126.724651',
 '126.714669',
 '126.7312285',
 '126.7206589',
 '126.7228473',
 '126.7419829',
 '126.7293237',
 '126.7262044',
 '126.7345439',
 '126.7453272',
 '126.7311702',
 '126.7098361',
 '126.7208965',
 '126.7252003',
 '126.7097873',
 '126.7258154',
 '126.7406538']

In [14]:
# 데이터 프레임 생성

df = pd.DataFrame(columns=["위도", "경도"])

In [15]:
# 데이터 프레임에 위도, 경도 리스트 삽입

df["위도"] = geocode_result_1
df["경도"] = geocode_result_2

In [16]:
# 데이터 프레임 확인

df

             위도           경도
0    37.5620769   126.755438
1    37.5391975  126.7372175
2    37.5323967   126.735962
3    37.5475973  126.7411429
4    37.5355244   126.727765
..          ...          ...
106  37.5307208  126.7208965
107  37.5454053  126.7252003
108  37.5340805  126.7097873
109   37.535197  126.7258154
110  37.5478101  126.7406538

[111 rows x 2 columns]

In [17]:
# 위, 경도 엑셀만 추출

df.to_excel("계양구_약국_위경도.xlsx")

In [21]:
# 원본 엑셀 파일 인코딩

file2 = pd.read_excel("200303_인천_마스크 공적 판매처 현황.xlsx", header = 2,
                     sheet_name = "ref-약국", encoding = "utf-8")

In [22]:
# file2 확인

file2

        연번      업체명                                        소재지           전화번호
0        1     도미약국               인천 중구 축항대로86번길 38, 2층 (항동7가)   032-883-3284
1        2     신흥약국                        인천 중구 제물량로 131 (답동)   032-772-9153
2        3     인일약국                       인천 중구 연안부두로 9 (항동7가)   032-883-9919
3        4     대경약국                      인천 중구 샛골로9번길 37 (도원동)   032-882-7425
4        5     보원약국                         인천 중구 우현로 86 (인현동)   032-772-7764
...    ...      ...                                        ...            ...
1024  1025  영종올리브약국      인천 중구 하늘별빛로65번길 7-9, 117호(중산동, 스카이타워)       751-7585
1025  1026     금빛약국     인천 서구 중봉대로 586번길 9-4, 113호(청라동, 쓰리엠타워)       565-0531
1026  1027    메티스약국  인천 연수구 테크노파크로111번길 4, 103~104호(송도동, 드메티스)       831-1236
1027  1028    플러스약국        인천 연수구 신송로 166, 107호(송도동,  플러스원프라자)  070-4141-8628
1028  1029   골든청라약국         인천 서구 청라커낼로280, 107호(청라동, 청라골든프라자)            NaN

[1029 rows x 4 columns]

In [25]:
# 소재지에 "계양구"가 들어가는 행만 추출

file2_GY = file2[file2["소재지"].str.contains("계양구")]
file2_GY

      연번         업체명                                    소재지          전화번호
707  708       사랑인약국                인천 계양구 양지로 40, 1층 (동양동)  032-544-6265
708  709  온누리건강백화점약국  인천 계양구 계양문화로 96, 강북프라자 112~113호 (용종동)  032-545-1535
709  710   인천세중온누리약국  인천 계양구 계양문화로 19, 우성프라자 104~107호 (작전동)  032-548-7770
710  711     계양온누리약국               인천 계양구 장제로 910, 1층 (병방동)  032-541-5401
711  712        나눔약국              인천 계양구 주부토로 463, 1층 (작전동)  032-555-1953
..   ...         ...                                    ...           ...
813  814        세진약국                  인천 계양구 봉오대로 649 (작전동)  032-542-4708
814  815        유영약국                인천 계양구 하느재로20번길 1 (계산동)  032-543-7036
815  816       새유진약국                   인천 계양구 안남로 571 (효성동)  032-548-0575
816  817        호성약국               인천 계양구 계산로126번길 24 (작전동)  032-544-7833
817  818        세기약국                   인천 계양구 장제로 911 (병방동)  032-542-4404

[111 rows x 4 columns]

In [33]:
# 데이터 프레임에 업체명, 전화번호 열 추가

df["업체명"]   = list(file2_GY["업체명"])
df["전화번호"] = list(file2_GY["전화번호"])

In [34]:
# 데이터 프레임 확인

df

             위도           경도         업체명          전화번호
0    37.5620769   126.755438       사랑인약국  032-544-6265
1    37.5391975  126.7372175  온누리건강백화점약국  032-545-1535
2    37.5323967   126.735962   인천세중온누리약국  032-548-7770
3    37.5475973  126.7411429     계양온누리약국  032-541-5401
4    37.5355244   126.727765        나눔약국  032-555-1953
..          ...          ...         ...           ...
106  37.5307208  126.7208965        세진약국  032-542-4708
107  37.5454053  126.7252003        유영약국  032-543-7036
108  37.5340805  126.7097873       새유진약국  032-548-0575
109   37.535197  126.7258154        호성약국  032-544-7833
110  37.5478101  126.7406538        세기약국  032-542-4404

[111 rows x 4 columns]

In [36]:
# 데이터 프레임 엑셀로 추출

df.to_excel("계양구_약국_데이터.xlsx")